*{
	text-align: center;
}

html,body{
	background-color: #E4FAF4;
}

html {
	position: relative;
	min-height: 100%;
}


/************* NAVBAR SECTION ******************/
.main-body {
	margin-top: 55px;
	margin-bottom: 55px; 
}

.navbar{
	color: #fff;
	background-color: #2c3e50 !important;
}

.navbar a span{
	color: #fff;
}

.logo{
	font-weight: bold;
	padding-left: 10%;
}
/* fa-bars icon for toggle in for sm/md device */
.fa-bars { 
	color: #fff;
}

/************** BLOCK BODY SECTION ****************/

.main-body {

}

.college-section {
	padding: 50px 10px;
}

.college-select{
	color: #2c3e50;
	font-style: italic;
}

.college-select h2 {
	 width:45%;
	 text-align:center;
	 border-bottom: 2px solid;
	 line-height:0.1em;
	 display: inline-block;
}

.college-select h2 span {
	 background:#E4FAF4;
	 padding:0 10px;
}

.college-section-content{
	padding: 10px 60px;
}

.college-container{
	background-color: #00994c;
	color: #fff;
	text-align: center;
	border-radius: 10px;
	height: 200px;
	width: 200px;
	line-height: 200px;
	transition: box-shadow .3s;
}

.college-container h1{
	vertical-align: middle;
	display: inline-block;
}

.college-container:hover{
	box-shadow: 0 0 30px rgba(0,0,255,0.7); 
}

.college-select{
	text-align: center;
	padding: 50px 0px;
}

.subnav{
	background-color: #bddcfc;
	color: #2c3e50;
	padding: 0px;
}

.subnav a{
	text-decoration: none;
	color: #2c3e50;
}

.subnav a:hover{
	text-decoration: none;
	background-color: #247FB5;
	color: #fff;
}

.subnav a.active{
	text-decoration: none;
	background-color: #247FB5 !important;
	color: #fff;
}

.choice-select{
	color: #2c3e50;
	font-style: italic;
	text-align: center;
	padding: 10px 0px 50px 0px;
}

.custom-control-label{
	color: #2c3e50;
}

.go-button{
	padding: 20px 0px;
}

.go-button button{
	color: #fff;
	background-color: #00994c;
	border-color: #00994c;
}

.go-button button:hover, active{
	background-color: #1D8D29;
	border-color: #1D8D29;
	color: #fff;
}



/*************FOOTER SECTION ******************/
.footer{
	padding-top: 15px;	
	position: fixed;
	bottom: 0;
	background-color: #2c3e50;
	color: #fff;
}

.footer a{
	color: #00994c;
}

.footer a:hover	{
	color: #66ff66;
}